/* Everything */
* {
    font-size: 18px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

html, body {
    height: 100%;
    background-color: yellow;
}

body{
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.contact-me img {
    height: auto;
    width: 60px;
}

.my-portfolio{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.my-portfolio .hyperion-dev{
    background-color: red;
}
.my-portfolio strong{
    font-size: 25px;
    font-style: oblique;
}

.odin-project {
    background-color: green;
    margin: 6px 0px;
}

footer.contact-me {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: aqua;
    flex-shrink: 0;
}

.contact-me .content {
    display: flex;
    flex-direction: row;
}
